*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
    background-color:#000C2F;
    height:100vh;
    align-items:center;
}
form{
    width:1000px;
    background-color:white;
    width:430px;
    height:48%;
    border-radius:8px;

}
.logo{
    color:white;
    position:absolute;
    margin-bottom:330px;
    margin-right: 260px;
    
}
.cabecalho{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color:rgba(59, 59, 59, 0.747);
    margin-top:10px;
    margin-left:35px;
}
.cadastro{
    margin-top: 15px;;
    display:flex;
    flex-direction:column;
    align-items: center;
    
    
   
}

input{
    margin-bottom:20px;
    width:335px;
    border-radius:8px;
    padding:8px;
    border:1px solid rgb(204, 204, 204);
}
.botao{
    display:flex;
    justify-content: center;
    height:25px;
}
button{
    color:rgba(255, 255, 255, 0.801);
    background-color:#0b1d50;
    border-radius:15px;
    width:30%;
    
}

.login{
    display:flex;
    justify-content:center;
    font-size: 12px;
    margin-top:5px;
}

.errnome{
    margin-left:90px;
    display:none;
    position:absolute;
    margin-top:-18px;
    font-size: 13px;
    color:rgb(191, 1, 1);

}

.errsenha{
    margin-left:46px;
    position:absolute;
    margin-top:-72px;
    font-size: 13px;
    color:rgba(211, 67, 67, 0.854);
    display:none

}
.errsenha1{
    margin-left:27px;
    position:absolute;
    margin-top:-72px;
    font-size: 13px;
    color:rgba(211, 67, 67, 0.854);
    display:none
    
   
}
